<h1> DETAIL </h1>
<article class="main">
  <div class="form">
    <header>
      <button {{action "save"}}>SAVE</button>
    </header>
    <h1>{{if model.isDirtyOrRelatedDirty "Dirty" "Not Dirty"}}</h1>
    <section class="docSection container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row card-title">
            <div class="col-md-12 request-wrap">
              <div class="input-group">
                <span class="input-group-addon">"ticket.label.request"</span>
                {{validated-input
                  model=model
                  placeholder="ticket.label.request"
                  valuePath="request"
                  className="form-control t-ticket-request ticket-request"
                  didValidate=didValidate
                  textarea=true
                  class="t-ticket-request-validator"
                }}
              </div>
            </div>
            <div class="col-md-12 request-wrap">
              <span>Assignee</span>
              {{#power-select
                class="status-select t-status-select"
                tagName="div"
                selected=model.status
                allowClear=clear
                onchange=(action "changeStatus" model)
                searchEnabled=false
                options=statuses
                as |optionModel|
              }}
                {{optionModel.name}}
              {{/power-select}}
            </div>
            <div class="col-md-12 request-wrap">
              <span>CC</span>
              {{#power-select-multiple
                selected=model.cc
                onchange=(action "changeCC")
                class="cc-select t-cc-select"
                tagName="div"
                search=(perform searchRepo)
                searchField="fullname"
                as |optionModel|
              }}
                {{optionModel.fullname}}
              {{/power-select-multiple}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>
